h2{
    font-style: italic;
    margin: 12px 0px;
    padding: 12px 30px;
    color: #000000;
    position:;
    width:300px;
    border-radius: 12px;
    
}

button{
    background-color: #ffffff;
    font-size: 19px;
    border-radius: 9px;
    padding: 15px 32px;
    margin: 35vh 90vh;
    cursor: pointer;

}